.woo_pvm_theme {
  background: inherit;

  .stat-bar-blank {
    display: none;
  }

  &.bwl_pvm_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin: 0;
    padding: 6px;
    border-bottom: 0px;

    .pvm_btn_container {
      width: 100%;
      justify-content: space-between;
    }
  }

  .stat-cnt {
    width: 100%;
  }
}

.pvm-front-end-filter-container {
  text-align: right;
}

.wrf-overlay {
  position: relative;
  overflow: hidden;
  background: url("../images/loader.gif") center center no-repeat transparent;
}

.wrf-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
