.baf_hidden,
.baf_dn {
  display: none;
}

/*----- According Shadow ----*/

.article-box-shadow {
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

/*----- Taxonomy Info ----*/

.baf_taxonomy_info {
  margin: 16px 0;
}
